export(addBreakColorLegend)
export(addRGBClassLegend)
export(addRGBRampLegend)
export(addTRampLegend)
export(covB)
export(createBlockPredGrid)
export(createPredGrid)
export(createPredGridCountSamp)
export(distBetween2xySets)
export(empSemivariogram)
export(geoStatSim)
export(image.spCountSamp)
export(LLtoUTM)
export(makeCovMat)
export(plotPointsRGB)
export(plotPointsRGBT)
export(plotPolygonsRGB)
export(plot.spCountSamp)
export(pointSimClus)
export(pointSimSyst)
export(predictBlock)
export(predictBlockFinPop)
export(R2g)
export(spCountSamp)
export(splmm)
export(startPDF)
export(stdizeBoundary)
export(stdizePlots)
S3method(empSemivariogram,SpatialPointsDataFrame)
S3method(plotPointsRGB,SpatialPointsDataFrame)
S3method(plotPointsRGBT,SpatialPointsDataFrame)
S3method(plotPolygonsRGB,SpatialPolygonsDataFrame)
S3method(predictBlockFinPop,splmm)
S3method(predictBlock,splmm)
S3method(predict,splmm)
S3method(print,summary.spCountSamp)
S3method(R2g,default)
S3method(R2g,splmm)
S3method(summary,spCountSamp)
S3method(summary,splmm)
