export(addRGBClassLegend)
export(addRGBRampLegend)
export(addTRampLegend)
export(createBlockPredGrid)
export(createPredGrid)
export(empSemivariogram)
export(geoStatSim)
export(LLtoUTM)
export(makeCovMat)
export(plotPointsRGB)
export(plotPointsRGBT)
export(plotPolygonsRGB)
export(pointSimSyst)
export(predictBlock)
export(predictBlockFinPop)
export(R2g)
export(splmm)
export(startPDF)
S3method(empSemivariogram,SpatialPointsDataFrame)
S3method(plotPointsRGB,SpatialPointsDataFrame)
S3method(plotPointsRGBT,SpatialPointsDataFrame)
S3method(plotPolygonsRGB,SpatialPolygonsDataFrame)
S3method(predictBlockFinPop,splmm)
S3method(predictBlock,splmm)
S3method(predict,splmm)
S3method(print,summary.spCountSamp)
S3method(R2g,default)
S3method(R2g,splmm)
S3method(summary,splmm)
